<div class="color-card">
    <img class="card-image" src="/{{this.thumbnail}}">
        <p class="card-title">{{this.title}}</p>
        <a class="image-postview" 
    href="/posts/{{this.id}}">View Post</a>
</div>
