*,
*::after,
*::before{
  box-sizing: border-box
}

html{
  background-image: url("../images/cssimgs/background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #171E31;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 25px);
}

main{
  margin: auto;
  width: 100%;
  text-align: center;
}

.top-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

header{
  min-width: 300px;
  margin-right: 25px;
  margin-left: 30px;
}
header a{
  text-decoration: none;
}

h1{
  font-size: 45px;
  font-family: 'Bebas Neue', sans-serif;
  color: #E5C208;
  text-align:center;
  padding: 20px;
  margin: 15px 0px 15px 0px;
  border-radius: 10px;
}
#in-text-logo{
  color: #E5C208;
  font-size: 50px;
}

h2{
  color: #E5C208;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.default-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 5px;
  color: white;
  backdrop-filter: blur(20px);
  text-align: left;
  padding: 25px;
  width: 400px;
  margin: 70px auto;
  margin-bottom: 20px;
}
.input-section-pair{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px 0px;
}

.input-section-pair-inline{
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 5px 0px;
}

label{
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  
}

p{
  margin: 70px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Dense', sans-serif;
}
.index-greet{
  margin-top: 10px;
}

body{
  margin: 0;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
}

video{
  display: block;
  margin: 0 auto;
  width: 500px;
}

input{
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: white;
  border-radius: 2px;
  color: black;
  margin-bottom: 9px;
  border: 4px solid rgb(203, 200, 217, 0);
  border-bottom-width: 2.5px;
  border-radius: 4px;
}

input:focus{
  border: 3.5px solid #E5C208;
  border-bottom-width: 3.5px;
  border-radius: 4px;
}

#sub:disabled{
  background-color: #c4c4c4;
  color: #5f5f5f;
}

#log-sub{
  justify-content: center;
  width: 100px;
  margin: 20px 100px 0px 100px;
}

#ageCheck{
  margin-left: 10px;
}

.reg-error{
  align-content: center;
  text-align: left;
  margin: 0;
  color:#E5C208;
}

#link-ref{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  align-content: center;
  text-align: center;
  margin: 0;
}

#refer-link{
  text-decoration: none;
  color: #E5C208;
}

ol{
  list-style-type: none;
  line-height: 1.5;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  padding: 10px;
}
li a{
  min-width: 85px;
  text-decoration: none;
  color: black;
  font-size: medium;
}

nav{
  width: 100%;
  margin-top: 30px;
  overflow:auto;
}

nav ul{
  min-width: 800px;
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 5px;
  list-style-type: none;
  margin: 0px ;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
}

nav li{
  text-decoration: none;
  
  width: 120px;
  padding: 10px 0px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  margin: 5px 15px;
  margin-right: 30px;
}
.search-nav{
  width: 300px;
}
.search-bar{
  display: flex;
  flex-direction: row;
  min-width: 100px;
  width: 100%;
  margin: 0 0 0 10px;
}
.search-text{
  width: 100%;
  margin: 0;
  width: 300;
  min-width: 200px;
}
.search-button{
  width: 30px;
  min-width: 30px;
}
nav a{
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: auto;
  letter-spacing: 0.5px;
  padding: 2px;
}

nav a:hover{
  color:rgb(164, 164, 164);
}

#log-sub:hover{
  background-color:rgb(164, 164, 164);
}
#accept-check:hover{
  background-color: rgb(164, 164, 164);
}

video{
  border: solid;
  border-color: #1e3d59;
}

#profile-p{
  font-size:larger;
  background-color: #1e3d59;
  color: white;
  height: 30px;
  padding: 5px;
  margin: 2px 130px;
  text-align: center;
  border-radius: 5px;
}
#tos{
  color: rgb(164, 164, 164);
}

.tos-div{
  margin-bottom: 20px;
}

.post-section{
  border-top: 1px solid white;
  padding: 15px;
  list-style-type: none;
  min-height: 100px;
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 250px;
  width: 250px;
  border-radius: 7px;
  text-align: center;
  margin: 10px;
}

.card-image{
  height: 190px;
  width: 250px;
  border-radius: 7px 7px 0px 0px;
  border: 2px solid black;
}

.card-title{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.5px;
  margin:0px;
  padding: 3px;
  font-size: 20px;
  background-color: #171E31;
  width: 250px;
  max-width: 250px;
  min-height: 54px;
  max-height: 54px;
  overflow: auto;
  color: white;
}
.image-postview{
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding: 2px;
  font-size: 15px;
  border-radius: 0px 0px 7px 7px;
  background-color: #171E31;
  width: 250px;
  height: 40px;
  color: #E5C208;
  text-decoration: none;
}


#color-label{
  display:inline;
  font-size: 30px;
}

#flash-message{
  text-align: center;
  color: white;
  margin: 7px;
  border-radius: 2px;
}

#alert-success{
  margin: auto;
  text-align: center;
  background-color: rgba(62, 192, 94,.4);
  padding: 10px;
  width: 600px;
}

#alert-error{
  margin: auto;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(192, 69, 62, 0.4);
  padding: 10px;
  width: 600px;
}
#alert-error:hover{
  background-color: rgba(127, 37, 32, 0.4);
  cursor: pointer;
}

#alert-success:hover{
  background-color: rgba(25, 142, 55, 0.4);
  cursor: pointer;
}

.logout-section{
  display: flex;
  flex-direction: row;
  min-width: 270px;
  justify-content: center;
}
#hello-user{
  color: white;
  margin: 15px 10px 10px 0px;
}

#logoutButton{
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0px;
  height: 30px;
}
.acceptance-use{
  margin-left: 5px;
  margin-bottom: 10px;
}

#profile-header{
  text-align: center;
  color: white;
}

#profile-layout{
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

#profile-side{
  margin-right: 5px;
  min-width: 200px;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: white;
  backdrop-filter: blur(20px);
  padding: 15px;
  text-align: left;
}
#post-side{
  padding: 15px;
  margin-left: 5px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: white;
  backdrop-filter: blur(20px);
  width: 100%;
  min-width: 200px;
  height: auto;
}
.post-header{
  text-align: center;
}
#details-header{
  margin: 10px; 
}
#profile-label{
  font-size: 17px;
  margin: 5px;
  border-bottom: 1px solid white;
  padding: 2px;
}
#profile-info{
  text-align: center;
  font-size: 17px;
  margin: 5px;
}
#profile-detail{
  margin: 10px;
}
.viewpost-video{
  text-align: center;
  margin:auto;
}
.post-container{
  margin: auto;
  text-align: center;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.viewpost-title{
  max-width: 700px;
  overflow-wrap: break-word;
  margin: 17px 0px 10px 0px;
  font-size: 30px;
  font-family:'Roboto', sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.post-deed{
  max-width: 400px;
  overflow-wrap: break-word;
}
h5{
  margin: 3px 0px;
}
.comment-header{
  margin: 10px 0px;
}
.comments-container{
  max-width: 532px;
  min-width: 532px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 9px;
  margin-top: 10px;
}
.comment{
  margin-bottom: 15px;
}
.comment-date{
  margin-top: 3px;
  font-size: 12px;
  color: #818181;
}
#text-comment{
  max-width: 500px;
  overflow-wrap: break-word;
}

footer{
  margin-top: 230px;
  display: inline-block;
  color: white;
  height: 25px;
  padding-top: 3px;
  text-align: center;
  background-color: rgb(69, 70, 104, .6);
  background-size: cover;
  width: 100%;
}